/**
 * Demo Styles
 */
 
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

img{
    width: 400px;
    display: block;
    height: auto;
}

/**
 * Footer Styles
 */

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        }